Package: com.thomasfinch.dim
Name: Dim
Depends: mobilesubstrate, preferenceloader, libactivator
Version: 1.2.2
Architecture: iphoneos-arm
Description: Dim your screen even further!
Maintainer: Thomas Finch <tomf64@gmail.com>
Author: Thomas Finch <tomf64@gmail.com>
Section: Tweaks