Package: com.thomasfinch.dim
Name: Dim
Depends: mobilesubstrate, libactivator
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Thomas Finch
Author: Thomas Finch
Section: Tweaks
