Package: com.thomasfinch.dim
Name: Dim
Depends: mobilesubstrate, preferenceloader
Version: 1.5
Architecture: iphoneos-arm
Description: Dim your screen even further!
Maintainer: Thomas Finch <tomf64@gmail.com>
Author: Thomas Finch <tomf64@gmail.com>
Section: Tweaks